<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Insert Document</h1>
    <form class="form_but"  action="/update" method="post">
        <label for="file"> <p class="lc">Select file</p></label>
        <input id="file" class="inputfile" type="file" name="upload" />
        <label  for="upload"> <p class="lc">Upload</p></label>
        <input id="upload" type="submit"/>
      </form>
</body>
</html>