<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="static/css/style.css" > 
    <title>Financial tool</title>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/alexmendezf/image/upload/v1582138783/euro_uzofzu.png">    
</head>
<body>
    <h1>Update financial securitie:</h1>
    <form action="/update" enctype="multipart/form-data" method="post">
        <input name="upload" type="file" multiple>
        <input type="submit">
        </form>
    <h1>Add new financial securitie:</h1>
    <form action="/insert" enctype="multipart/form-data" method="post">
        <input name="upload" type="file" multiple>
        <input type="submit">
        </form>
    <form method="POST" action="/line">
        <h2>Insert a financial securitie name:</h2> 
        <input name="id_fs" type="text" />
        <p><input type="submit"/></p>
    </form>
</body>
</html>